.drop_down_list {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-top: 10px;
}
.list_of_selects {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}
.list_of_selects select {
    border-color: #3077C6;
    color: #383838;
    margin-bottom: 2px;
    min-height: 35px;
    border-radius: 8px;
}
