.profile_body{
    padding-top: 140px;
    background-color: rgba(114, 114, 114, 0.5);
}
.profile_body_container{
    height: 80vh;
    display: flex;
    align-items: start;
    max-width: 1232px;
    margin: 0 auto;
    padding-bottom: 24px;
}
.profile_title{
    font-size: 100px;
    color: #FFF;
    mix-blend-mode: difference;
}
