.top_section {
    min-height: 100vh;
    background: url("/src/assets/images/background/background_picture.jpg") center no-repeat;
    background-size: cover;
}

.top_section_container{
    padding-top: 296px;
}
