.calendar {
    display: flex;
    background: #FFFFFF;
    border-radius: 8px;

}

.monthCalendar {
    width: 290px;
    margin: 12px;
}

.monthTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nameOfMonth {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 11px;
}

.daysOfWeek {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #4D4D4D;
}

