* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 28px;
    color: #383838;
    font-family: Roboto, sans-serif;
}
:active, :hover, :focus {
    outline: none;
}

#root {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 1 auto;
}
