.tab_menu{
    margin: 104px 0 0;
    height: 64px;
    width: max-content;
    border: 3px #F3F3F4 solid;
    border-radius: 8px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    background-color: #F3F3F4;
}
.tab_menu button:not(:last-child){
    margin-right: 5px;
}
._inactive{
    color: #383838;
    background-color: #F3F3F4;
    border-color: #F3F3F4;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
