.loading{
    width: 100%;
    height: 100vh;
    background-color: #EAF0F9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.loading_image{
    display: block;
    width: 500px;
    height: 500px;
}

.loading_image.entering{
    animation: show_loader 0.5s forwards;
}
.loading_image.entered{
    animation: loading_spin 15s infinite;
}
.loading_image.exiting{
    animation: show_loader 0.5s reverse;
}

@keyframes loading_spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes show_loader {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
