.search_condition{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    min-width: 250px;
    padding: 10px;
}
.condition_values{
    display: flex;
    justify-content: center;
    align-items: center;
}
.condition_filters{
    max-width: 100%;
    padding: 22px;
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 65px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px -5px rgba(18, 101, 165, 1);
}
.condition_filters .condition_filter:not(:first-child) {
    margin-top: 12px;
}
.color_frame {
    border: 3px #F5BD41 solid;
    margin: -3px 0 -3px -1px;
    border-radius: 8px;
}

.condition_filters.entering{
    animation: show_condition_filters 1s forwards;
}
.condition_filters.exiting{
    animation: show_condition_filters 1s reverse;
}
@keyframes show_condition_filters {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
