.nav_menu, .menu_list, .menu_icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_list a {
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    color: #FFFFFF;
    margin-right: 24px;
}
.menu_icons li {
    margin-left: 24px;
}
.menu_link::after {
    content: "";
    display: block;
    align-self: flex-end;
    border-bottom: 4px #F5BD41 solid;
    margin-bottom: -4px;
    margin-right: 24px;
    position: relative;
    top: -10px;
    opacity: 0;
    transition: all 1s ease 0.2s;
}

.menu_link:hover::after {
    top: 0;
    opacity: 1;
}
.account_icon{
position: relative;
}
.accountCircle{
    height: 40px;
    width: 40px;
    fill: #FFFFFF;
}
.night_icon{
    height: 30px;
    width: 30px;
}
._activeIcon {
    fill: #F5BD41;
}
